In [1]:
import pandas as pd
import numpy as np
df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/CPCcodes_1.csv',skipinitialspace=True, nrows=1000)
df2 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/CPClabels.csv',skipinitialspace=True)

In [2]:
df1_modified = df1.copy()
df1_modified['cpc_code'] = df1_modified['cpc_class_symbol']

In [3]:
for code in df2['CPC Code']:
    code_id = df1_modified['cpc_class_symbol'].str.contains(code)
    df1_modified['cpc_code'][code_id] = code

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [4]:
for category in df2.Category.values:
    current_dict = dict.fromkeys(df2['CPC Code'][df2['Category'].str.contains(category)], category)
    df1_modified['cpc_code'] = df1_modified['cpc_code'].replace(current_dict,regex=True)

In [5]:
df1_modified

      appln_id cpc_class_symbol    cpc_code
0    338647562        Y02E10/50   Y02E10/50
1    338647572     Y10T29/49155     Other-5
2    338647578       Y02E10/549          PV
3    338647578       Y02P70/521  Processing
4    338647594        Y02E10/50   Y02E10/50
..         ...              ...         ...
995  338650559        Y02B10/20       Build
996  338650559        Y02E10/47     Solar-T
997  338650559       Y10T403/55     Other-5
998  338650561      Y10T83/8791     Other-5
999  338650561       Y10T83/913     Other-5

[1000 rows x 3 columns]