In [1]:
import pandas as pd
import numpy as np
labels = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/CPClabels.csv',skipinitialspace=True)

In [ ]:
def cpc_symbol_to_category(df_column, symbol, category):
    current_dict = dict.fromkeys(df_column[df_column.str.contains(symbol)], category)
    return df_column.replace(current_dict)
df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/CPCcodes_1.csv',skipinitialspace=True, chunksize=5000, header=0)
extra_labels = pd.DataFrame([['Y02E30', 'Nuclear'],['Y02E50', 'Non-Fossil'], ['Y02E60','Enable'], ['Y02E', 'Other-6']], columns=labels.columns.values)

header = True
for chunk in df1:
    chunk_modified = chunk.copy()
    chunk_modified['Category'] = chunk_modified['cpc_class_symbol']
    for index, row in labels.iterrows():
        chunk_modified['Category'] = cpc_symbol_to_category(chunk_modified['Category'], row['cpc_class_symbol'], row['Category'])
    for index, row in extra_labels.iterrows():
        chunk_modified['Category'] = cpc_symbol_to_category(chunk_modified['Category'], row['cpc_class_symbol'], row['Category'])
    chunk_modified.to_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/CPC_with_labels.csv', index=False, mode='a', header=header)
    header = False

In [2]:
def cpc_symbol_to_category(df_column, symbol, category):
    current_dict = dict.fromkeys(df_column[df_column.str.contains(symbol)], category)
    return df_column.replace(current_dict)

df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/CPCcodes_1.csv',skipinitialspace=True, nrows=1000, header=0)
extra_labels = pd.DataFrame([['Y02E30', 'Nuclear'],['Y02E50', 'Non-Fossil'], ['Y02E60','Enable'], ['Y02E', 'Other-6']], columns=labels.columns.values)

df1_modified = df1.copy()
df1_modified['Category'] = df1_modified['cpc_class_symbol']

for index, row in labels.iterrows():
    df1_modified['Category'] = cpc_symbol_to_category(df1_modified['Category'], row['cpc_class_symbol'], row['Category'])

for index, row in extra_labels.iterrows():
    df1_modified['Category'] = cpc_symbol_to_category(df1_modified['Category'], row['cpc_class_symbol'], row['Category'])

In [3]:
df1_modified

     appln_id cpc_class_symbol   Category
0          11       Y10T477/60    Other-5
1          11      Y10T477/675    Other-5
2          14       Y02T10/126  Transport
3          15       Y10S424/13    Other-4
4          15      Y10S514/829    Other-4
..        ...              ...        ...
995      2982     Y10T29/53187    Other-5
996      2982     Y10T29/53191    Other-5
997      2984       Y02T10/146  Transport
998      2993      Y10S438/945    Other-4
999      2993      Y10S438/973    Other-4

[1000 rows x 3 columns]

In [4]:
np.unique(df1_modified.Category.values)

array(['Adapt', 'Biofuel', 'Build', 'Combust', 'Electric', 'Enable',
       'Fusion', 'Hydro', 'Hydrogen', 'ICT', 'Ocean', 'Other-4',
       'Other-5', 'PV', 'Processing', 'SmrtGrds', 'Solar-T', 'Store - C',
       'Transport', 'Waste', 'Wastewater', 'Wind'], dtype=object)