In [1]:
import pandas as pd
import numpy as np
data = {'appn_id' :[1, 1, 2, 2, 3, 3], 'person_id':[4, 5, 6, 7, 8, 9], 'country': ['E','E','F','F','G','G'] }
df1 = pd.DataFrame(data)
df1

   appn_id  person_id country
0        1          4       E
1        1          5       E
2        2          6       F
3        2          7       F
4        3          8       G
5        3          9       G

In [ ]:
df1.pivot = df1.melt(id_vars=['appn_id'])
df1.pivot

In [ ]:
df1.pivot = df1.melt(id_vars=['appn_id', 'person_id'])
df1.pivot

In [ ]:
df1_pivot = df1.pivot(index=['appn_id'], columns=['person_id'])
df1_pivot

In [ ]:
df2_pivot = df1.pivot(index=['appn_id'], columns=['country'])
df2_pivot

In [56]:
import pandas as pd
import numpy as np
data = {'appn_id' :[1, 1, 1, 2, 2, 3, 3], 'person_id':[4, 5, 6, 7, 8, 9, 10], 'country': ['E','E', 'E','F','F','G','G'] }
df1 = pd.DataFrame(data)
df1

   appn_id  person_id country
0        1          4       E
1        1          5       E
2        1          6       E
3        2          7       F
4        2          8       F
5        3          9       G
6        3         10       G

In [57]:
df2 = df1.groupby('appn_id', group_keys=False).apply(lambda x: x.sample(min(len(x), 3)))
df3 = df2.groupby('appn_id', group_keys=False).apply(lambda x: x.assign(inventor_number=np.arange(min(len(x),3))))

In [58]:
df4 = pd.pivot(df3, values=['person_id', 'country'],
                        index=['appn_id'],
                        columns=['inventor_number'])
df4

                person_id          country
inventor_number         0   1    2       0  1    2
appn_id
1                       4   6    5       E  E    E
2                       7   8  NaN       F  F  NaN
3                       9  10  NaN       G  G  NaN

In [9]:
import pandas as pd
df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/Adapt_Residence_concise.csv', skipinitialspace=True, header=0)
df1.shape[0]

64887524

In [8]:
del df1

In [4]:
71613973/500000

143.227946

In [10]:
64887524/500000

129.775048

In [11]:
df1.head()

,person_id,person_id.1,person_id.2,person_id.3,person_id.4,person_ctry_code,person_ctry_code.1,person_ctry_code.2,person_ctry_code.3,person_ctry_code.4
0,0.0,1.0,2.0,3.0,4.0,0,1,2,3,4
1,490.0,492.0,489.0,491.0,NaN,DE,DE,DE,DE,NaN
2,633.0,632.0,NaN,NaN,NaN,DE,DE,NaN,NaN,NaN
3,682.0,683.0,NaN,NaN,NaN,DE,DE,NaN,NaN,NaN
4,53666.0,285290.0,NaN,NaN,NaN,CH,CH,NaN,NaN,NaN

In [12]:
items_counts = df1['appln_id'].value_counts()
max_item = items_counts.max()

KeyError: 'appln_id'