In [9]:
import pandas as pd
df = pd.read_csv('/Users/nitashajhala/Desktop/Regression1/Sensitivity Analysis.csv',skipinitialspace=True, header=0)

In [10]:
print(df.to_latex(index=False))

\begin{tabular}{llllrllllllllll}
\toprule
                                        Unnamed: 0 &       (1) &        (2) &     (3) &    (4) &        (5) &        (6) &       (7) &       (8) &        (9) &     (10) &       (11) &     (12) &     (13) &       (14) \\
\midrule
                                            Year t &         0 &          0 &       0 &  0.000 &          0 &          0 &         0 &         0 &          0 &        0 &          0 &        0 &        0 &          0 \\
                                          Year t-1 &         0 &          0 &       0 &  0.000 &          0 &          0 &         0 &         0 &          0 &        0 &          0 &        0 &        0 &          0 \\
                                          Year t-2 &   0.00001 &          0 &       0 &  0.000 &          0 &          0 &         0 &         0 &          0 &        0 &          0 &        0 &        0 &          0 \\
                                          Year t-3 &         0 &          0 &       0 &  0.000 &          0 &          0 &         0 &         0 &          0 &        0 &          0 &        0 &        0 &          0 \\
                                          Year t-4 &       NaN &          0 &       0 &  0.000 &          0 &          0 &         0 &         0 &          0 &        0 &          0 &        0 &        0 &          0 \\
                                          Year t-5 &       NaN &        NaN &       0 &  0.000 &          0 &          0 &         0 &         0 &          0 &        0 &          0 &        0 &        0 &          0 \\
                                          Year t-6 &       NaN &        NaN &     NaN &  0.000 &          0 &          0 &         0 &         0 &          0 &        0 &          0 &        0 &        0 &          0 \\
                                          Year t-7 &       NaN &        NaN &     NaN &    NaN &         0* &        0** &         0 &         0 &          0 &        0 &          0 &        0 &        0 &          0 \\
                                          Year t-8 &       NaN &        NaN &     NaN &    NaN &        NaN &       0*** &        0* &         0 &          0 &        0 &          0 &        0 &        0 &          0 \\
                                          Year t-9 &       NaN &        NaN &     NaN &    NaN &        NaN &        NaN & -0.00003* & -0.00003* &  -0.00003* & -0.0000x &   -0.0000x & -0.0000x & -0.0000x &   -0.0000x \\
                                         Year t-10 &       NaN &        NaN &     NaN &    NaN &        NaN &        NaN &       NaN &  -0.0000x & -0.00004** & -0.0000x &   -0.0000x & -0.0000x & -0.0000x &   -0.0000x \\
                                         Year t-11 &       NaN &        NaN &     NaN &    NaN &        NaN &        NaN &       NaN &       NaN &   -0.0000x & -0.0000x &   -0.0000x & -0.0000x & -0.0000x &   -0.0000x \\
                                         Year t-12 &       NaN &        NaN &     NaN &    NaN &        NaN &        NaN &       NaN &       NaN &        NaN & -0.0000x &   -0.0000x & -0.0000x & -0.0000x &   -0.0000x \\
                                         Year t-13 &       NaN &        NaN &     NaN &    NaN &        NaN &        NaN &       NaN &       NaN &        NaN &      NaN &   -0.0000x & -0.0000x & -0.0000x &   -0.0000x \\
                                         Year t-14 &       NaN &        NaN &     NaN &    NaN &        NaN &        NaN &       NaN &       NaN &        NaN &      NaN &        NaN & -0.0000x & -0.0000x &   -0.0000x \\
                                         Year t-14 &       NaN &        NaN &     NaN &    NaN &        NaN &        NaN &       NaN &       NaN &        NaN &      NaN &        NaN &      NaN & -0.0000x &   -0.0000x \\
                                         Year t-15 &       NaN &        NaN &     NaN &    NaN &        NaN &        NaN &       NaN &       NaN &        NaN &      NaN &        NaN &      NaN &      NaN &   -0.0000x \\
                                 Cumulative effect &         0 &          0 &       0 &  0.000 &          0 &     0.0001 &    0.0001 &    0.0001 &    0.00003 &  0.00003 &          0 & -0.0000x & -0.0000x &   -0.0000x \\
Log knowledge stocks of adaptation technology (... &   0.58173 &    0.58470 &  0.585* &    NaN &    0.588** &    0.599** &       NaN &       NaN &        NaN &      NaN &        NaN &      NaN &      NaN &    0.59*** \\
Log knowledge stock of solar technology (year t-1) & 0.7648*** &  0.7667*** &     NaN &    NaN &   .7639*** &   0.747*** &       NaN &       NaN &        NaN &      NaN &        NaN &      NaN &      NaN &     0.8*** \\
                               Log GDP per capita  &  -2.425** &   -2.426** &     NaN &    NaN &   -2.404** &    -2.43** &       NaN &       NaN &        NaN &      NaN &        NaN &      NaN &      NaN &    -2.56** \\
                                 Institution index &  -0.00182 &   -0.00165 & -0.0017 &  0.003 &       0.01 &       0.01 &       NaN &       NaN &        NaN &      NaN &        NaN &      NaN &      NaN &      0.012 \\
                     Log total patent applications &     0.047 &      0.046 &     NaN &    NaN &     0.0389 &      0.056 &       NaN &       NaN &        NaN &      NaN &        NaN &      NaN &      NaN &     0.0014 \\
                           Tax-adjusted fuel price &       NaN &        NaN &     NaN &    NaN &        NaN &        NaN &       NaN &       NaN &        NaN &      NaN &        NaN &      NaN &      NaN &        NaN \\
                               Number of countries &        48 &         48 &      48 & 48.000 &         48 &         48 &        48 &        48 &         48 &       48 &         48 &       48 &       48 &         48 \\
                                     Log Liklihood &  -4722.03 & -4716.5617 &     NaN &    NaN & -4675.9037 & -4605.8422 &       NaN &       NaN &        NaN &      NaN & -4434.1858 &      NaN &      NaN & -4327.3043 \\
\bottomrule
\end{tabular}