In [13]:
import pandas as pd
import numpy as np
import re

### Polity

In [14]:
df1 = pd.read_csv('/Volumes/NJ_4TB/Final/Polity.csv', skipinitialspace=True)
df1.drop(df1[(df1['year'] <1985) | (df1['year'] > 2020 )].index, inplace=True)
polity_countries = pd.unique(df1['country'])

In [15]:
r = re.compile(".*Nethe", re.IGNORECASE)
print(list(filter(r.match, polity_countries)))

['Netherlands']

In [16]:
polity_patsat_countries={ 'KR':'Korea South',
                         'MX':'Mexico',
                         'EG':'Egypt',
                         'JP':'Japan',
                         'NO':'Norway',
                         'CA':'Canada',
                         'SI':'Slovenia',
                         'DK':'Denmark',
                         'TH':'Thailand',
                         'FI':'Finland',
                         'HU':'Hungary',
                         'IS':'Iceland',
                         'IN':'India',
                         'US':'United States                   ',
                         'CZ':['Czechoslovakia', 'Czech Republic'],
                         'CL':'Chile',
                         'PL':'Poland',
                         'LV':'Latvia',
                         'KY':'Cayman Islands (the)',
                         'PH':'Philippines',
                         'DE':['Germany East', 'Germany', 'Germany West'],#also DD
                         'SG':'Singapore',
                         'CH':'Switzerland',
                         'LT':'Lithuania',
                         'CY':'Cyprus',
                         'RU':'Russia',
                         'UA':'Ukraine',
                         'IT':'Italy',
                         'AU':'Australia',
                         'NZ':'New Zealand',
                         'BE':'Belgium',
                         'QA':'Qatar',
                         'MY':'Malaysia',
                         'BM':'Bermuda',
                         'AT':'Austria',
                         'SU':'USSR',
                         'GR':'Greece',
                         'MT':'Malta',
                         'IE':'Ireland',
                         'TR':'Turkey',
                         'ES':'Spain',
                         'NL':'Netherlands',
                         'IL':'Israel',
                         'MA':'Morocco',
                         'AE':'UAE',
                         'CU':'Cuba',
                         'SE':'Sweden',
                         'CN':'China',
                         'FR':'France',
                         'LU':'Luxembourg',
                         'PA':'Panama',
                         'BG':'Bulgaria',
                         'ZA':'South Africa',
                         'TW':'Taiwan',
                         'AR':'Argentina',
                         'BR':'Brazil',
                         'GB':'United Kingdom',
                         'SA':'Saudi Arabia'
                       }

In [17]:
my_list = []
for patsat_country, pol_country in polity_patsat_countries.items():
    polity = 0
    if not(patsat_country == 'CZ' or patsat_country == 'DE'):
        pol_country = [pol_country]
    for year in range( 1985,  2020 + 1):
        polity = 0.0
        num = 0.0
        for country in pol_country:              
            arr = df1[(df1['country'] == country) & (df1['year'] == year)]['polity2'].to_numpy()
            if arr.size:
                polity += arr[0]
                num += 1.0
            else:
                if (patsat_country == 'CZ' or patsat_country == 'DE'):
                    polity += 0.0
                else:
                    polity = np.NaN
        if num:
            polity = polity / num
        my_list.append({'year':year,'country':patsat_country,'polity':polity})
df_polity = pd.DataFrame.from_records(my_list)
df_polity.to_csv('/Volumes/NJ_4TB/Final/polity_processed.csv', encoding='utf-8', index=False)

### Total Patents by Country

In [18]:
df1 = pd.read_csv('/Volumes/NJ_4TB/Final/Total_patent_count_by filing_office_1980_2020.csv', skipinitialspace=True, skiprows=6)
total_patents=[]
for country in polity_patsat_countries.keys():
    for year in range(1985, 2020+1):
        val = df1[df1['Unnamed: 0']==country][str(year)]
        if val.size:
            val=val[0]
        else:
            val = np.NaN
        total_patents.append({'country':country,'year':year,'control_total_patents':val})
df_patents = pd.DataFrame.from_records(total_patents)
# now DD
for year in range(1985, 2020+1):
    val = df1[df1['Unnamed: 0']=='DD'][str(year)]
    if val.size and val[0]==val[0]:
        df_patents.at[ np.where((df_patents['year'] == year) & (df_patents['country'] == 'DE') )[0][0],'control_total_patents'] += val[0]

df_patents.to_csv('/Volumes/NJ_4TB/Final/patent_processed.csv', encoding='utf-8', index=False)

### GDP by Country

In [19]:
df1 = pd.read_csv('/Volumes/NJ_4TB/Final/GDPperCA.csv', skipinitialspace=True)
df1.drop(df1[df1['Series Name']!='GDP per capita (constant 2015 US$)'].index,inplace=True)

In [20]:
r = re.compile(".*germ", re.IGNORECASE)
print(list(filter(r.match, df1['Country Name'].to_list())))

['Germany']

In [21]:
gdp_patsat_countries={ 'KR':'KOR',
                         'MX':'MEX',
                         'EG':'EGY',
                         'JP':'JPN',
                         'NO':'NOR',
                         'CA':'CAN',
                         'SI':'SVN',
                         'DK':'DNK',
                         'TH':'THA',
                         'FI':'FIN',
                         'HU':'HUN',
                         'IS':'ISL',
                         'IN':'IND',
                         'US':'USA',
                         'CZ':['CZE', 'SVK'],
                         'CL':'CHL',
                         'PL':'POL',
                         'LV':'LVA',
                         'KY':'CYM',
                         'PH':'PHL',
                         'DE':'DEU',#also DD
                         'SG':'SGP',
                         'CH':'CHE',
                         'LT':'LTU',
                         'CY':'CYP',
                         'RU':'RUS',
                         'UA':'UKR',
                         'IT':'ITA',
                         'AU':'AUS',
                         'NZ':'NZL',
                         'BE':'BEL',
                         'QA':'QAT',
                         'MY':'MYS',
                         'BM':'BMU',
                         'AT':'AUT',
                         'SU':'',
                         'GR':'GRC',
                         'MT':'MLT',
                         'IE':'IRL',
                         'TR':'TUR',
                         'ES':'ESP',
                         'NL':'NLD',
                         'IL':'ISR',
                         'MA':'MAR',
                         'AE':'ARE',
                         'CU':'CUB',
                         'SE':'SWE',
                         'CN':'CHN',
                         'FR':'FRA',
                         'LU':'LUX',
                         'PA':'PAN',
                         'BG':'BGR',
                         'ZA':'ZAF',
                         'TW':'',
                         'AR':'ARG',
                         'BR':'BRA',
                         'GB':'GBR',
                         'SA':'SAU'
                       }

In [22]:
my_list = []
for patsat_country, gdp_country in gdp_patsat_countries.items():
    polity = 0
    if not(patsat_country == 'CZ'):
        gdp_country = [gdp_country]
    for year in range( 1985,  2020 + 1):
        gdp = 0.0
        num = 0.0
        for country in gdp_country:              
            arr = df1[(df1['Country Code'] == country)][str(year)+" [YR"+ str(year) +"]"].to_numpy()
            if arr.size:
                if arr[0] != '..':
                    gdp += float(arr[0])
                    num += 1.0
            else:
                gdp = np.NaN
        if num:
            gdp = gdp / num
        my_list.append({'year':year,'country':patsat_country,'gdp_per_capita':gdp})
df_gdp = pd.DataFrame.from_records(my_list)
df_gdp.to_csv('/Volumes/NJ_4TB/Final/gdp_processed.csv', encoding='utf-8', index=False)

### Combine all controls

In [23]:
combined_list=[]
for patsat_country in gdp_patsat_countries.keys():
    for year in range(1985, 2020 +1):
        combined_list.append({'year':year,'country':patsat_country,'gdp_per_capita':df_gdp[(df_gdp['country'] == patsat_country) & (df_gdp['year'] ==year)]['gdp_per_capita'].to_numpy()[0],
                             'polity':df_polity[(df_polity['country'] == patsat_country) & (df_polity['year'] ==year)]['polity'].to_numpy()[0],
                             'control_total_patents':df_patents[(df_patents['country'] == patsat_country) & (df_patents['year'] ==year)]['control_total_patents'].to_numpy()[0]})

df_combined = pd.DataFrame.from_records(combined_list)
df_combined.to_csv('/Volumes/NJ_4TB/Final/controls_processed.csv', encoding='utf-8', index=False)

In [24]:
df_combined[df_combined['country']=='KR']

    year country  gdp_per_capita  polity  control_total_patents
0   1985      KR     5950.800428    -5.0                  458.0
1   1986      KR     6559.290714    -5.0                  596.0
2   1987      KR     7321.392770     1.0                  575.0
3   1988      KR     8119.167981     6.0                 1181.0
4   1989      KR     8607.865825     6.0                 2554.0
5   1990      KR     9365.394986     6.0                 2553.0
6   1991      KR    10272.620698     6.0                 3570.0
7   1992      KR    10796.604654     6.0                 4545.0
8   1993      KR    11422.514652     6.0                 5774.0
9   1994      KR    12356.278285     6.0                 6575.0
10  1995      KR    13408.681417     6.0                 8321.0
11  1996      KR    14329.539306     6.0                14497.0
12  1997      KR    15071.756389     6.0                35900.0
13  1998      KR    14195.813093     8.0                43314.0
14  1999      KR    15711.564021     8.0                22943.0
15  2000      KR    16992.479076     8.0                21833.0
16  2001      KR    17680.845492     8.0                30175.0
17  2002      KR    18936.951652     8.0                30525.0
18  2003      KR    19431.971110     8.0                35284.0
19  2004      KR    20361.069254     8.0                53419.0
20  2005      KR    21193.357514     8.0                89303.0
21  2006      KR    22192.185121     8.0                91645.0
22  2007      KR    23360.905735     8.0                61115.0
23  2008      KR    23882.730495     8.0                42129.0
24  2009      KR    23948.472244     8.0                51404.0
25  2010      KR    25451.004155     8.0                72258.0
26  2011      KR    26186.897542     8.0                84061.0
27  2012      KR    26675.440171     8.0                95667.0
28  2013      KR    27394.650307     8.0                97294.0
29  2014      KR    28094.917703     8.0                76319.0
30  2015      KR    28732.231076     8.0                82400.0
31  2016      KR    29461.784007     8.0                90847.0
32  2017      KR    30307.395236     8.0                89227.0
33  2018      KR    31040.655446     8.0                94852.0
34  2019      KR    31610.919004     NaN               103881.0
35  2020      KR    31264.940647     NaN                    NaN