In [ ]:
import pandas as pd
df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/tls207_part01.csv',skipinitialspace=True, header=0)
df1['appln_id'].nunique()
#84,076,043

In [ ]:
df1['person_id'].nunique()
#61,558,031

In [ ]:
del df1

~84 million unique applications have persons associated with them, and ~62 million unique persons have contributed to the dataset

### Filter Inventors by Application id

First I extract all relevant Person Id's from the larger database

In [ ]:
import pandas as pd
import numpy as np
field = ['appln_id']
df2 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/CPCcodes_1.csv',skipinitialspace=True, usecols = field) 
ids = df2.drop_duplicates() #extract relevant unique ids

In [ ]:
fields = ['person_id', 'appln_id']
df3 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/tls207_part01.csv',skipinitialspace=True, chunksize=200000, header=0,usecols=fields)
header = True
chunkid=0
for chunk in df3:
    chunk = ids.merge(chunk, on='appln_id', how='inner') #filter by ids
    chunk.to_csv('/Volumes/NJ_4TB/PATSAT/MyFiles1/Persons_1.csv', index=False, mode='a', header=header)
    print (chunkid)
    chunkid = chunkid + 1
    header = False

In [ ]:
del ids, df2
import pandas as pd
import numpy as np
field = ['appln_id']
df2 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/CPCcodes_2.csv',skipinitialspace=True, usecols = field) 
ids = df2.drop_duplicates() #extract relevant unique ids

In [ ]:
fields = ['person_id', 'appln_id']
df3 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/tls207_part01.csv',skipinitialspace=True, chunksize=500000, header=0,usecols=fields)
header = True
chunkid=0
for chunk in df3:
    chunk = ids.merge(chunk, on='appln_id', how='inner') #filter by ids
    chunk.to_csv('/Volumes/NJ_4TB/PATSAT/MyFiles1/Persons_2.csv', index=False, mode='a', header=header)
    print (chunkid)
    chunkid = chunkid + 1
    header = False

In [ ]:
del ids, df2

### Extract Countries of Residence

Then I use Person id's to filter out country codes

In [ ]:
import pandas as pd
import numpy as np
#extract relevant person ids
field = ['person_id']
df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles1/Persons_1.csv',skipinitialspace=True, usecols = field) 
ids = df1.drop_duplicates() #extract relevant unique person ids

In [ ]:
fields = ['person_id', 'person_ctry_code']
#once again, parse through relevant person ids and residence country code columns
df2 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/tls226_part01.csv',skipinitialspace=True, chunksize=500000, header=0,usecols=fields)
header = True
chunkid=0
for chunk in df2:
    chunk = ids.merge(chunk, on='person_id', how='inner') #filter by person ids
    chunk.to_csv('/Volumes/NJ_4TB/PATSAT/MyFiles1/Residence_1.csv', index=False, mode='a', header=header)
    print (chunkid)
    chunkid = chunkid + 1
    header = False

In [ ]:
del df1, df2, ids

In [ ]:
#similarly for Persons 2
import pandas as pd
import numpy as np
field = ['person_id']
df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles1/Persons_2.csv',skipinitialspace=True, usecols = field) 
ids = df1.drop_duplicates() #extract relevant unique person ids
import pandas as pd
import numpy as np
fields = ['person_id', 'person_ctry_code']
#once again, parse through relevant person ids and residence country code columns
df2 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/tls226_part02.csv',skipinitialspace=True, chunksize=500000, header=0,usecols=fields)
header = True
chunkid=0
for chunk in df2:
    chunk = ids.merge(chunk, on='person_id', how='inner') #filter by person ids
    chunk.to_csv('/Volumes/NJ_4TB/PATSAT/MyFiles1/Residence_2.csv', index=False, mode='a', header=header)
    print (chunkid)
    chunkid = chunkid + 1
    header = False

In [ ]:
del df2
import pandas as pd
import numpy as np
#once again, parse through relevant person ids and residence country code columns
df2 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/tls226_part02.csv',skipinitialspace=True, header=0, nrows=100)
df2.head()

In [ ]:
del df1, df2, ids

In [ ]:
#merging names and country codes
import pandas as pd
import numpy as np
df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles1/Persons_1.csv',skipinitialspace=True, header=0)
df2 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles1/Residence_1.csv',skipinitialspace=True, header=0)
df3 = pd.merge(df1, df2.drop_duplicates() , on="person_id", how = 'inner')

In [ ]:
df3.to_csv('/Volumes/NJ_4TB/PATSAT/MyFiles1/CountryPersons1.csv', encoding='utf-8', index=False)

In [ ]:
del df1, df2, df3

In [ ]:
import pandas as pd
import numpy as np
df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles1/Persons_2.csv',skipinitialspace=True, header=0)
df2 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles1/Residence_2.csv',skipinitialspace=True, header=0)
df3 = pd.merge(df1, df2.drop_duplicates() , on="person_id", how = 'inner')

In [ ]:
df3.to_csv('/Volumes/NJ_4TB/PATSAT/MyFiles1/CountryPersons2.csv', encoding='utf-8', index=False)

In [ ]:
del df1, df2, df3

### Divide person ids and country codes based on application categories

In [ ]:
import pandas as pd
import numpy as np
field = ['appln_id']
#first try with one category
df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/Adapt.csv',skipinitialspace=True, usecols = field) 
ids = df1.drop_duplicates() #extract relevant unique ids

In [ ]:
df2 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles1/CountryPersons1.csv',skipinitialspace=True, chunksize=500000, header=0)
header = True
for chunk in df2:
    if (chunk['appln_id'].dtype is not ids['appln_id'].dtype):
        chunk['appln_id'] = pd.to_numeric(chunk['appln_id'], errors='coerce')
        chunk.dropna(subset=['appln_id'], inplace=True)
        chunk['appln_id'] = chunk['appln_id'].astype(ids['appln_id'].dtype)
    chunk = ids.merge(chunk, on='appln_id', how='inner') #filter by ids
    chunk.to_csv('/Volumes/NJ_4TB/PATSAT/MyFiles1/Adapt_residence.csv', index=False, mode='a', header=header)
    header = False

In [ ]:
del df1, df2

In [ ]:
#creating a for loop for the remaining categories
import pandas as pd
import numpy as np
Category = ['Build', 'Sequester', 'ICT', 'Geo', 'Hydro', 'Ocean', 'Solar-T', 'PV', 'Thermal-PV', 'Wind', 'Combust', 'Fusion', 'Fission', 'Electric', 'Biofuel', 'Waste', 'Store- B', 'Store - C', 'Store- T', 'Store- M', 'Hydrogen', 'Other-1', 'Other-2', 'Other-3', 'Processing', 'Transport', 'Wastewater', 'SmrtGrds', 'Other-4', 'Other-5', 'Nuclear', 'Non-Fossil', 'Enable','Other-6']
field = ['appln_id']
for c in Category:
    df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/'+ c +'.csv',skipinitialspace=True, usecols = field) 
    ids = df1.drop_duplicates() #extract relevant unique ids
    df2 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles1/CountryPersons1.csv',skipinitialspace=True, chunksize=500000, header=0)
    header = True
    for chunk in df2:
        if (chunk['appln_id'].dtype is not ids['appln_id'].dtype):
            chunk['appln_id'] = pd.to_numeric(chunk['appln_id'], errors='coerce')
            chunk.dropna(subset=['appln_id'], inplace=True)
            chunk['appln_id'] = chunk['appln_id'].astype(ids['appln_id'].dtype)
        chunk = ids.merge(chunk, on='appln_id', how='inner') #filter by ids
        chunk.to_csv('/Volumes/NJ_4TB/PATSAT/MyFiles1/' + c + '_residence.csv', index=False, mode='a', header=header)
        header = False
    del df1, df2

Similarly for the second half of the data

In [ ]:
import pandas as pd
import numpy as np
Category = ['Adapt','Build', 'Sequester', 'ICT', 'Geo', 'Hydro', 'Ocean', 'Solar-T', 'PV', 'Thermal-PV', 'Wind', 'Combust', 'Fusion', 'Fission', 'Electric', 'Biofuel', 'Waste', 'Store- B', 'Store - C', 'Store- T', 'Store- M', 'Hydrogen', 'Other-1', 'Other-2', 'Other-3', 'Processing', 'Transport', 'Wastewater', 'SmrtGrds', 'Other-4', 'Other-5', 'Nuclear', 'Non-Fossil', 'Enable','Other-6']
field = ['appln_id']
for c in Category:
    df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/'+ c +'.csv',skipinitialspace=True, usecols = field) 
    ids = df1.drop_duplicates() #extract relevant unique ids
    df2 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles1/CountryPersons2.csv',skipinitialspace=True, chunksize=500000, header=0)
    header = True
    for chunk in df2:
        if (chunk['appln_id'].dtype is not ids['appln_id'].dtype):
            chunk['appln_id'] = pd.to_numeric(chunk['appln_id'], errors='coerce')
            chunk.dropna(subset=['appln_id'], inplace=True)
            chunk['appln_id'] = chunk['appln_id'].astype(ids['appln_id'].dtype)
        chunk = ids.merge(chunk, on='appln_id', how='inner') #filter by ids
        chunk.to_csv('/Volumes/NJ_4TB/PATSAT/MyFiles1/' + c + '_residence2.csv', index=False, mode='a', header=header)
        header = False
    del df1, df2

In [ ]:
import pandas as pd
import numpy as np
#merging tables
Category = ['Adapt','Build', 'Sequester', 'ICT', 'Geo', 'Hydro', 'Ocean', 'Solar-T', 'PV', 'Thermal-PV', 'Wind', 'Combust', 'Fusion', 'Fission', 'Electric', 'Biofuel', 'Waste', 'Store- B', 'Store - C', 'Store- T', 'Store- M', 'Hydrogen', 'Other-1', 'Other-2', 'Other-3', 'Processing', 'Transport', 'Wastewater', 'SmrtGrds', 'Other-4', 'Other-5', 'Nuclear', 'Non-Fossil', 'Enable','Other-6']
for c in Category:
    df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles1/'+ c + '_residence.csv',skipinitialspace=True) 
    df2 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles1/'+ c + '_residence2.csv',skipinitialspace=True)
    df3 = pd.concat([df1, df2])
    df3.to_csv('/Volumes/NJ_4TB/PATSAT/MyFiles1/'+ c + '_Residence_complete.csv', encoding='utf-8', index=False)
    del df1, df2, df3

Check maximum investors per record

In [ ]:
import pandas as pd
import numpy as np
df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles1/Persons_1.csv',skipinitialspace=True, header=0)
items_counts = df1['appln_id'].value_counts()
max_item = items_counts.max()
del df1
#There are a maximum of 132 inventors associated with a patent

In [ ]:
import pandas as pd
import numpy as np
df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles1/Persons_2.csv',skipinitialspace=True, header=0)
items_counts = df1['appln_id'].value_counts()
max_item = items_counts.max()
del df1
#There are a maximum of 134 inventors associated with a patent

In [ ]:
df1['appln_id'].value_counts().idxmax()

In [ ]:
df1.loc[df1['appln_id'] == 478696789]

Therefore we will randmly pick 5 inventors per application

In [ ]:
df2 = df1.groupby('appln_id', group_keys=False).apply(lambda x: x.sample(min(len(x), 5)))

In [ ]:
items_counts = df2['appln_id'].value_counts()
max_item = items_counts.max()
max_item

In [ ]:
del df1, df2

So we use this function and loop over all categories

In [2]:
import pandas as pd
import numpy as np
import time
# Category = ['Adapt','Build', 'Sequester', 'ICT', 'Geo', 'Hydro', 'Ocean', 'Solar-T', 'PV', 'Thermal-PV', 'Wind', 'Combust', 'Fusion', 'Fission', 'Electric', 'Biofuel', 'Waste', 'Store- B', 'Store - C', 'Store- T', 'Store- M', 'Hydrogen', 'Other-1', 'Other-2', 'Other-3', 'Processing', 'Transport', 'Wastewater', 'SmrtGrds', 'Other-4', 'Other-5', 'Nuclear', 'Non-Fossil', 'Enable','Other-6']
Category = ['Other-3', 'Processing', 'Transport', 'Wastewater', 'SmrtGrds', 'Other-4', 'Other-5', 'Nuclear', 'Non-Fossil', 'Enable','Other-6']

for c in Category:
    df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles1/'+ c + '_Residence_complete.csv', skipinitialspace=True, chunksize=2000000, header=0)
    header = True
    iteration = 0 
    for chunk in df1:
        print(c, iteration)
        iteration += 1
        time1 = time.time()
        df2 = chunk.groupby('appln_id', group_keys=False).apply(lambda x: x.sample(min(len(x), 5)))
        time2 = time.time()
        print(time2 - time1)
        df3 = df2.groupby('appln_id', group_keys=False).apply(lambda x: x.assign(inventor_number=np.arange(min(len(x),5))))
        time3 = time.time()
        print(time3 - time2)
        df4 = pd.pivot(df3, values=['person_id', 'person_ctry_code'],
                        index=['appln_id'],
                        columns=['inventor_number'])
        df4['appln_id'] = df4.index.values
        time4 = time.time()
        print(time4 - time3)
        df4.to_csv('/Volumes/NJ_4TB/PATSAT/MyFiles1/'+ c + '_Residence_concise.csv', encoding='utf-8', index=False, mode='a', header=header)
        header = False
    del df1, df2

Other-3 0
2.755944013595581
5.483444929122925
0.014072895050048828
Processing 0
246.01611423492432
511.7457129955292
1.4600000381469727
Processing 1
66.94035196304321
140.90567803382874
0.3085031509399414
Transport 0
243.54518222808838
511.7477488517761
1.178847074508667
Wastewater 0
112.61174726486206
239.00197076797485
0.5543951988220215
SmrtGrds 0
20.026781797409058
41.03979992866516
0.10549592971801758
Other-4 0
336.8037860393524
715.5290319919586
1.7175500392913818
Other-4 1
369.3167669773102
801.6649436950684
2.3007571697235107
Other-4 2
258.13688921928406
533.0633499622345
1.2366139888763428
Other-5 0
392.5091359615326
876.6879451274872
2.26035213470459
Other-5 1
460.3381350040436
1029.5763647556305
2.664304256439209
Other-5 2
415.3897759914398
907.2305099964142
2.585608959197998
Other-5 3
331.2115159034729
772.3239221572876
2.1438729763031006
Nuclear 0
22.860953092575073
59.39946889877319
0.16038203239440918
Non-Fossil 0
0.011252880096435547
0.017922163009643555
0.015314817428588867
Enable 0
31.915506839752197
64.8177101612091
0.12096881866455078
Other-6 0
1.2157649993896484
2.5442819595336914
0.014471054077148438

In [7]:
import pandas as pd
df3 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles1/Transport_Residence_concise.csv', skipinitialspace=True,nrows=10, header=0)
df3.head()

,person_id,person_id.1,person_id.2,person_id.3,person_id.4,person_ctry_code,person_ctry_code.1,person_ctry_code.2,person_ctry_code.3,person_ctry_code.4,appln_id
0,0,1,2.0,3.0,4.0,0,1,2,3,4,NaN
1,72,71,73.0,NaN,NaN,FR,FR,FR,NaN,NaN,14.0
2,461,460,NaN,NaN,NaN,CY,CY,NaN,NaN,NaN,124.0
3,220,107387,44730436.0,NaN,NaN,DE,DE,DE,NaN,NaN,216.0
4,33392,942,NaN,NaN,NaN,DE,DE,NaN,NaN,NaN,233.0

In [ ]:
df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/tls207_part01.csv',skipinitialspace=True, nrows=header=0)

blah10

In [4]:
import pandas as pd
import numpy as np
import time

Category = ['Other-2']

for c in Category:
    df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/Extras/'+ c + '_Residence_complete.csv', skipinitialspace=True, chunksize=2000000, header=0)
    header = True
    iteration = 0 
    for chunk in df1:
        print(c, iteration)
        iteration += 1
        time1 = time.time()
        df2 = chunk.groupby('appln_id', group_keys=False).apply(lambda x: x.sample(min(len(x), 5)))
        time2 = time.time()
        print(time2 - time1)
        df3 = df2.groupby('appln_id', group_keys=False).apply(lambda x: x.assign(inventor_number=np.arange(min(len(x),5))))
        time3 = time.time()
        print(time3 - time2)
        df4 = pd.pivot(df3, values=['person_id', 'person_ctry_code'],
                        index=['appln_id'],
                        columns=['inventor_number'])
        df4['appln_id'] = df4.index.values
        time4 = time.time()
        print(time4 - time3)
        df4.to_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/Extras/'+ c + '_Residence_concise.csv', encoding='utf-8', index=False, mode='a', header=header)
        header = False
    del df1, df2

Other-2 0
0.004029989242553711

ValueError: 'appln_id' is both an index level and a column label, which is ambiguous.