In [ ]:
import pandas as pd
df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/tls207_part01.csv',skipinitialspace=True, header=0)
df1['appln_id'].nunique()
#84,076,043

In [ ]:
df1['person_id'].nunique()
#61,558,031

In [ ]:
del df1

~84 million unique applications have persons associated with them, and ~62 million unique persons have contributed to the dataset

### Filter Inventors by Application id

First I extract all relevant Person Id's from the larger database

In [ ]:
import pandas as pd
import numpy as np
field = ['appln_id']
df2 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/CPCcodes_1.csv',skipinitialspace=True, usecols = field) 
ids = df2.drop_duplicates() #extract relevant unique ids

In [ ]:
fields = ['person_id', 'appln_id']
df3 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/tls207_part01.csv',skipinitialspace=True, chunksize=200000, header=0,usecols=fields)
header = True
chunkid=0
for chunk in df3:
    chunk = ids.merge(chunk, on='appln_id', how='inner') #filter by ids
    chunk.to_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/Persons_1.csv', index=False, mode='a', header=header)
    print (chunkid)
    chunkid = chunkid + 1
    header = False

In [ ]:
del ids, df2
import pandas as pd
import numpy as np
field = ['appln_id']
df2 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/CPCcodes_2.csv',skipinitialspace=True, usecols = field) 
ids = df2.drop_duplicates() #extract relevant unique ids

In [ ]:
fields = ['person_id', 'appln_id']
df3 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/tls207_part01.csv',skipinitialspace=True, chunksize=500000, header=0,usecols=fields)
header = True
chunkid=0
for chunk in df3:
    chunk = ids.merge(chunk, on='appln_id', how='inner') #filter by ids
    chunk.to_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/Persons_2.csv', index=False, mode='a', header=header)
    print (chunkid)
    chunkid = chunkid + 1
    header = False

In [ ]:
del ids, df2

### Extract Countries of Residence

Then I use Person id's to filter out country codes

In [ ]:
import pandas as pd
import numpy as np
#extract relevant person ids
field = ['person_id']
df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/Persons_1.csv',skipinitialspace=True, usecols = field) 
ids = df1.drop_duplicates() #extract relevant unique person ids

In [ ]:
fields = ['person_id', 'person_ctry_code']
#once again, parse through relevant person ids and residence country code columns
df2 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/tls226_part01.csv',skipinitialspace=True, chunksize=500000, header=0,usecols=fields)
header = True
chunkid=0
for chunk in df2:
    chunk = ids.merge(chunk, on='person_id', how='inner') #filter by person ids
    chunk.to_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/Residence_1.csv', index=False, mode='a', header=header)
    print (chunkid)
    chunkid = chunkid + 1
    header = False

In [ ]:
del df1, df2, ids

In [ ]:
#similarly for Persons 2
import pandas as pd
import numpy as np
field = ['person_id']
df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/Persons_2.csv',skipinitialspace=True, usecols = field) 
ids = df1.drop_duplicates() #extract relevant unique person ids
import pandas as pd
import numpy as np
fields = ['person_id', 'person_ctry_code']
#once again, parse through relevant person ids and residence country code columns
df2 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/tls226_part02.csv',skipinitialspace=True, chunksize=500000, header=0,usecols=fields)
header = True
chunkid=0
for chunk in df2:
    chunk = ids.merge(chunk, on='person_id', how='inner') #filter by person ids
    chunk.to_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/Residence_2.csv', index=False, mode='a', header=header)
    print (chunkid)
    chunkid = chunkid + 1
    header = False

In [ ]:
del df2
import pandas as pd
import numpy as np
#once again, parse through relevant person ids and residence country code columns
df2 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/tls226_part02.csv',skipinitialspace=True, header=0, nrows=100)
df2.head()

In [ ]:
del df1, df2, ids

In [ ]:
#merging names and country codes
import pandas as pd
import numpy as np
df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/Persons_1.csv',skipinitialspace=True, header=0)
df2 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/Residence_1.csv',skipinitialspace=True, header=0)
df3 = pd.merge(df1, df2.drop_duplicates() , on="person_id", how = 'left')

In [ ]:
df3.to_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/CountryPersons1.csv', encoding='utf-8', index=False)

In [ ]:
del df1, df2, df3

In [ ]:
import pandas as pd
import numpy as np
df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/Persons_2.csv',skipinitialspace=True, header=0)
df2 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/Residence_2.csv',skipinitialspace=True, header=0)
df3 = pd.merge(df1, df2.drop_duplicates() , on="person_id", how = 'left')

In [ ]:
df3.to_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/CountryPersons2.csv', encoding='utf-8', index=False)

In [ ]:
del df1, df2, df3

### Divide person ids and country codes based on application categories

In [ ]:
import pandas as pd
import numpy as np
field = ['appln_id']
#first try with one category
df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/Adapt.csv',skipinitialspace=True, usecols = field) 
ids = df1.drop_duplicates() #extract relevant unique ids

In [ ]:
df2 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/CountryPersons1.csv',skipinitialspace=True, chunksize=500000, header=0)
header = True
for chunk in df2:
    if (chunk['appln_id'].dtype is not ids['appln_id'].dtype):
        chunk['appln_id'] = pd.to_numeric(chunk['appln_id'], errors='coerce')
        chunk.dropna(subset=['appln_id'], inplace=True)
        chunk['appln_id'] = chunk['appln_id'].astype(ids['appln_id'].dtype)
    chunk = ids.merge(chunk, on='appln_id', how='left') #filter by ids
    chunk.to_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/Adapt_residence.csv', index=False, mode='a', header=header)
    header = False

In [ ]:
del df1, df2

In [ ]:
#creating a for loop for the remaining categories
import pandas as pd
import numpy as np
Category = ['Build', 'Sequester', 'ICT', 'Geo', 'Hydro', 'Ocean', 'Solar-T', 'PV', 'Thermal-PV', 'Wind', 'Combust', 'Fusion', 'Fission', 'Electric', 'Biofuel', 'Waste', 'Store- B', 'Store - C', 'Store- T', 'Store- M', 'Hydrogen', 'Other-1', 'Other-2', 'Other-3', 'Processing', 'Transport', 'Wastewater', 'SmrtGrds', 'Other-4', 'Other-5', 'Nuclear', 'Non-Fossil', 'Enable','Other-6']
field = ['appln_id']
for c in Category:
    df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/'+ c +'.csv',skipinitialspace=True, usecols = field) 
    ids = df1.drop_duplicates() #extract relevant unique ids
    df2 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/CountryPersons1.csv',skipinitialspace=True, chunksize=500000, header=0)
    header = True
    for chunk in df2:
        if (chunk['appln_id'].dtype is not ids['appln_id'].dtype):
            chunk['appln_id'] = pd.to_numeric(chunk['appln_id'], errors='coerce')
            chunk.dropna(subset=['appln_id'], inplace=True)
            chunk['appln_id'] = chunk['appln_id'].astype(ids['appln_id'].dtype)
        chunk = ids.merge(chunk, on='appln_id', how='left') #filter by ids
        chunk.to_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/' + c + '_residence.csv', index=False, mode='a', header=header)
        header = False
    del df1, df2

Similarly for the second half of the data

In [ ]:
import pandas as pd
import numpy as np
Category = ['Adapt','Build', 'Sequester', 'ICT', 'Geo', 'Hydro', 'Ocean', 'Solar-T', 'PV', 'Thermal-PV', 'Wind', 'Combust', 'Fusion', 'Fission', 'Electric', 'Biofuel', 'Waste', 'Store- B', 'Store - C', 'Store- T', 'Store- M', 'Hydrogen', 'Other-1', 'Other-2', 'Other-3', 'Processing', 'Transport', 'Wastewater', 'SmrtGrds', 'Other-4', 'Other-5', 'Nuclear', 'Non-Fossil', 'Enable','Other-6']
field = ['appln_id']
for c in Category:
    df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/'+ c +'.csv',skipinitialspace=True, usecols = field) 
    ids = df1.drop_duplicates() #extract relevant unique ids
    df2 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/CountryPersons2.csv',skipinitialspace=True, chunksize=500000, header=0)
    header = True
    for chunk in df2:
        if (chunk['appln_id'].dtype is not ids['appln_id'].dtype):
            chunk['appln_id'] = pd.to_numeric(chunk['appln_id'], errors='coerce')
            chunk.dropna(subset=['appln_id'], inplace=True)
            chunk['appln_id'] = chunk['appln_id'].astype(ids['appln_id'].dtype)
        chunk = ids.merge(chunk, on='appln_id', how='left') #filter by ids
        chunk.to_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/' + c + '_residence2.csv', index=False, mode='a', header=header)
        header = False
    del df1, df2

In [ ]:
import pandas as pd
import numpy as np
#merging tables
Category = ['Adapt','Build', 'Sequester', 'ICT', 'Geo', 'Hydro', 'Ocean', 'Solar-T', 'PV', 'Thermal-PV', 'Wind', 'Combust', 'Fusion', 'Fission', 'Electric', 'Biofuel', 'Waste', 'Store- B', 'Store - C', 'Store- T', 'Store- M', 'Hydrogen', 'Other-1', 'Other-2', 'Other-3', 'Processing', 'Transport', 'Wastewater', 'SmrtGrds', 'Other-4', 'Other-5', 'Nuclear', 'Non-Fossil', 'Enable','Other-6']
for c in Category:
    df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/'+ c + '_residence.csv',skipinitialspace=True) 
    df2 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/'+ c + '_residence2.csv',skipinitialspace=True)
    df3 = pd.concat([df1, df2])
    df3.to_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/'+ c + '_Residence_complete.csv', encoding='utf-8', index=False)
    del df1, df2, df3

Check maximum investors per record

In [ ]:
import pandas as pd
import numpy as np
df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/Persons_1.csv',skipinitialspace=True, header=0)
items_counts = df1['appln_id'].value_counts()
max_item = items_counts.max()
del df1
#There are a maximum of 132 inventors associated with a patent

In [5]:
import pandas as pd
import numpy as np
df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/Persons_2.csv',skipinitialspace=True, header=0)
items_counts = df1['appln_id'].value_counts()
max_item = items_counts.max()
del df1
#There are a maximum of 134 inventors associated with a patent

In [6]:
df1['appln_id'].value_counts().idxmax()

478696789

In [8]:
df1.loc[df1['appln_id'] == 478696789]

          appln_id  person_id
388188   478696789    5262071
954741   478696789    9208555
954742   478696789    9208557
994200   478696789    9973554
1032883  478696789   10490957
...            ...        ...
6383580  478696789   56251998
6383581  478696789   56341163
6383582  478696789   56512835
6383583  478696789   56516749
6383584  478696789   56572286

[134 rows x 2 columns]

Therefore we will randmly pick 5 inventors per application

In [12]:
df2 = df1.groupby('appln_id', group_keys=False).apply(lambda x: x.sample(min(len(x), 5)))

In [13]:
items_counts = df2['appln_id'].value_counts()
max_item = items_counts.max()
max_item

5

In [16]:
del df1, df2

So we use this function and loop over all categories

In [ ]:
Category = ['Adapt','Build', 'Sequester', 'ICT', 'Geo', 'Hydro', 'Ocean', 'Solar-T', 'PV', 'Thermal-PV', 'Wind', 'Combust', 'Fusion', 'Fission', 'Electric', 'Biofuel', 'Waste', 'Store- B', 'Store - C', 'Store- T', 'Store- M', 'Hydrogen', 'Other-1', 'Other-2', 'Other-3', 'Processing', 'Transport', 'Wastewater', 'SmrtGrds', 'Other-4', 'Other-5', 'Nuclear', 'Non-Fossil', 'Enable','Other-6']
for c in Category:
    df1 = pd.read_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/'+ c + '_Residence_complete.csv')
    df2 = df1.groupby('appln_id', group_keys=False).apply(lambda x: x.sample(min(len(x), 5)))
    df2.to_csv('/Volumes/NJ_4TB/PATSAT/MyFiles/'+ c + '_Residence_concise.csv', encoding='utf-8', index=False)
    del df1, df2

/Users/nitashajhala/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0,1,2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)